#logo{
    padding-top: 2%;
}
.navbar-nav{
    margin-left: auto;
    font-family: CreativeThoughts;
    font-size: 30px;
}
.nav-item{
    margin-left: auto;
    font-family: CreativeThoughts;
    font-size: 22px;
}