
#homeButton{
    font-size: 30px;
    color:black;
    text-decoration: none;
}
#logo{
    padding-top: 2%;
}
.navbar-nav{
    margin-left: auto;
    font-size: 30px;
}
.nav-item{
    margin-left: auto;
    font-size: 22px;
}
body{
    padding-top: 100px;
    font-family: 'Comfortaa';
}
#mainElements{
    position: static;
    padding-right: 10%;
    padding-left: 10%;
	text-align: center;
}
#titleh1{
    padding-top: 5%;
    font-size: 8vw;
}
  
  /* .wrapper {
    /*margin-top: 80px;
    margin-bottom: 80px;
  }*/
 
  
  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 30px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type=text] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-signin input[type=password] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }