#logo{
    padding-top: 2%;
}
.navbar-nav{
    margin-left: auto;
    font-family: CreativeThoughts;
    font-size: 30px;
}
.nav-item{
    margin-left: auto;
    font-family: CreativeThoughts;
    font-size: 22px;
}
.nav-item:hover{
    color: #2c08c9;
}
.nav-item:active{
    color: #e5ff00;
}

